/nbproject/private/
/build/
/DAQ/build/
/VIS/build/
/Report_DB/build/
/Report_DB/nbproject/private/
/EclipseLink/build/
/SQL_Driver/build/
/Apache-Commons-BeanUtils/build/
/JasperReports-Library/build/
/ConnectionSettings/build/
/ConnectionSettings/nbproject/private/
/DateChooser/build/
/DateChooser/nbproject/private/
/Libnodave/build/
/Libnodave/nbproject/private/
/dist/
/VIS/nbproject/private/
/DAQ/nbproject/private/
